<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<!-- 로그인 -->
	<bean id="loginService" class="com.feb.test.service.LoginService">
		<constructor-arg ref="loginDao" />
	</bean>
	
	<bean id="loginDao" class="com.feb.test.dao.impl.LoginDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 회원가입 -->
	<bean id="UserService" class="com.feb.test.service.UserService">
		<constructor-arg ref="UserDao" />
	</bean>
	
	<bean id="UserDao" class="com.feb.test.dao.impl.UserDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
</beans>